body {
    margin: 30px auto;
    width: 84%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 5px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 2px solid #d5d5d5;
    margin-top: 10px;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #006272;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    margin-bottom: 2px;
}

li {
    font-size: 1.1em;
    line-height: 1.2em;
}

p {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 1.2em;
    color: #333;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

.posts li {
    margin-bottom: 15px;
}
