body {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.1em;
    margin: 30px auto;
    width: 90%;
	background-color: #151619;
	color: #c1cdda;
}

nav {
	text-align: center;
}

nav ul {
    margin-top: 5px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 2px solid #3BA55C;
	font-size: 1em;
	font-weight: bold;
    margin-top: 10px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #2689ff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border: 1px solid #3BA55C;
	background-color: #333;
    margin: 2px 20px;
	padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 18px 0px 6px 0px;
}

li {
    line-height: 1.1em;
}

p {
    margin: 10px 2px 10px 2px;
}

ul {
    list-style-type: none;
	margin: 5px 0px;
	padding-left: 10px;
}

.posts li {
	font-size: 1.3em;
    margin-bottom: 12px;
}

.excerpt {
	margin: 3px;
}

* {
  box-sizing: border-box;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#tortle-stat-tbl {
	border: 3px solid #3BA55C;
}

#tortle-stat-tbl th, td {
	border: 1px solid #3BA55C;
	padding: 3px 15px;
}