<!DOCTYPE html>
	<html lang="en">		
		<head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/fiction/index">Fiction</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/blogroll">Blogroll</a></li>				
				<li><a href="/podcasts">Podcasts</a></li>
				<li><a href="/StoryParser.html">Story Parser</a></li>				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
					Subscribe to the blog with <li><a href="http://timburr1.github.io/blog/atom.xml">RSS</a></li> 
				</ul>
			</footer>
		</body>
	</html>
